$primary-text-color: #111518;
$primary-white-color: #ffffff;
$main-text-color: #000000;
$accent-color: #ff6b09;
$informacion-text-color: #b9b9b9;
$secondary-bacground-color: #f1f1f1;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-accent-color: #ff6b01;
$informacion-text-color: #8c8c8c;
$secondary-background-color: #e5e5e5;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
