.film-list {
  display: flex;
  flex-wrap: wrap;
}

.list-item {
  list-style: none;
}

.card-film {
  width: 280px;
  height: 443px;
}

.film-img {
  margin: 0px;
  width: 280px;
  height: 402px;
  border-radius: 5px;
}

.film-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;

  margin-top: 10px;
  margin-bottom: 0px;


  color: #000000;
}

.description {
  display: flex;
  align-items: center;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  width: 280px;
  padding: 0px;
}

.description-title {
  margin: 0px;

  color: #ff6b08;
}

.strip {
  margin-right: 5px;
  margin-left: 5px;
}
