.film-list {
  display: flex;
  flex-wrap: wrap;
  margin: auto auto;

  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and(max-width: 766px) {
    width: 281px;
  }

  @media screen and(min-width: 767px) {
    padding-top: 60px;
    padding-bottom: 50px;
  }
}

.list-item {
  margin-bottom: 30px;

  @media screen and(min-width: 767px) and (max-width: 1019px) {
    margin-right: 25px;

    &:nth-child(2n + 2) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media screen and (min-width: 1020px) {
    margin-right: 25px;

    &:nth-child(3n + 3) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}

.error-library-container {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}
.error-library {
  font-family: 'Roboto', sans-serif;
  font-size: 900;
  font-size: 30px;
  line-height: 35px;
  text-transform: uppercase;
  color: $main-accent-color;
}
