<li class="page-item"><span class="page-link js-previous"><i class="bi bi-arrow-left-short js-previous"></i></span></li>
{{#each this}}
<li class="page-item"><span class="page-link">{{this}}</span></li>
{{/each}}
<li class="page-item"><span class="page-link js-next"><i class="bi bi-arrow-right-short js-next"></i></span></li>