.header-bg-home {
  padding-top: 46px;
  height: 230px;
  max-width: 100%;

  background-color: $primary-text-color;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(./images/homepage-bg-mobile.jpg);

  /*.form-button-library {
    display: none !important;
  }
  .form-search-home {
    display: flex !important;
  }
  .library-link {
    border-bottom: none;
  }
  .home-link {
    border-bottom: 3px solid $accent-color;
  }*/

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./images/homepage-bg-mobile@2.jpg);
  }

  @include for-size(tablet-landscape) {
    padding-top: 41px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./images/homepage-bg-laptop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./images/homepage-bg-laptop@2.jpg);
    }
  }
  @include for-size(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./images/homepage-bg.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./images/homepage-bg@2.jpg);
    }
  }
}
//////////////////////////

/////////////////////////////

.header-bg-library {
  padding-top: 46px;
  height: 230px;
  max-width: 100%;

  /*.form-button-library {
    display: block !important;
  }
  .form-search-home {
    display: none !important;
  }
  .library-link {
    border-bottom: 3px solid $accent-color;
  }
  .home-link {
    border-bottom: none;
  }*/

  background-color: $primary-text-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url(./images/library-bg-mobile.jpg);

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./images/library-bg-mobile@2.jpg);
  }

  @include for-size(tablet-landscape) {
    padding-top: 41px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./images/library-bg-laptop.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./images/library-bg-laptop@2.jpg);
    }
  }
  @include for-size(desktop) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url(./images/library-bg.jpg);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.56),
          rgba(0, 0, 0, 0.56)
        ),
        url(./images/library-bg@2.jpg);
    }
  }
}

.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;

  @include for-size(tablet-landscape) {
    padding-left: 76px;
    padding-right: 75px;
  }
  @include for-size(desktop) {
    padding-left: 71px;
    padding-right: 71px;
  }
}
.title {
  display: none;
  font-size: 30px;
  font-weight: 500;
  margin: 0;
  margin-left: 12px;
  color: $primary-white-color;
  cursor: pointer;

  @include for-size(tablet-landscape) {
    display: block;
  }
}

.flex-conteiner {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
}

.item:last-child {
  margin-left: 40px;
}

.active-el {
  border-bottom: 3px solid $accent-color;
}
.item a:hover {
  border-bottom: 3px solid $accent-color;
}
.item a:active {
  border-bottom: 3px solid $accent-color;
}
.nav-link {
  color: $primary-white-color;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}
.site-nav-list {
  display: flex;
  padding: 0;
  list-style-type: none;
  margin-right: 72px;
  margin-left: auto;
}
.form-search-home {
  display: block;
  margin-top: 38px;

  @include for-size(tablet-landscape) {
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}
.search-img {
  position: absolute;
  right: 0;
  bottom: 6px;
}
.search-text {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: $primary-white-color;
  border-bottom: 1px solid $primary-white-color;
}
.form-button-library {
  display: block;
  margin-top: 45px;
  text-align: center;
}
.is-hidden {
  display: none;
}

.button-library:last-child {
  margin-left: 12px;
}
.button-library {
  font-family: inherit;
  font-size: 12px;
  color: $primary-white-color;
  height: 44px;
  width: 124px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.button-library-active {
  background: transparent;
  text-decoration: none;
  border: 2px solid #ffffff;
  outline: 5px;
}

.button-library-inactive {
  background: transparent;
  border: 2px solid #ffffff;
  text-decoration: none;
  outline: 5px;
}

.active-btn {
  background-color: $accent-color;
  border: 0;
}

::placeholder {
  color: $primary-white-color;
  font-size: 14px;
  font-weight: 400;
}

.search-error {
  margin-top: 22px;
  color: #ff001b;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.logobox {
  width: 25px;
  height: 25px;
  border-radius: 3px;
  overflow: hidden;
  border: 2px solid #818181;
  cursor: pointer;
  z-index: 2;
}

.logobox:hover {
  animation: changeBgColor 500ms infinite;
}
.logobox:hover ~ .logofon {
  animation-name: changeFonColor;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}

@keyframes changeBgColor {
  0% {
    background-color: #47a5db;
  }

  30% {
    background-color: #74badb;
  }
  40% {
    background-color: #063449;
  }

  100% {
    background-color: #4b99b1;
  }
}

.logo:hover {
  animation: animate225 500ms infinite;
  animation-timing-function: linear;
}
@keyframes animate225 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.logofon {
  left: -25px;
  height: 75px;
  width: 75px;
  position: absolute;
  z-index: 1;
}

@keyframes changeFonColor {
  0% {
    background: radial-gradient(closest-side, #47a5db, #000000);
  }

  30% {
    background: radial-gradient(closest-side, #74badb, #000000);
  }
  40% {
    background: radial-gradient(closest-side, #063449, #000000);
  }

  100% {
    background: radial-gradient(closest-side, #4b99b1, #000000);
  }
}
.logo-text {
  z-index: 2;
}

.logo-text:hover ~ .logofon {
  animation-name: changeFonColor;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
}
